In [1]:
import pandas as pd

In [3]:
lst = ['能源', '金融', '健康醫療', '公共事業', '衛星電纜', '媒體（非電纜）', '科技', '化學藥品', '娛樂', '其他產業', '現金及約當現金']
lst2 = [17.76, 9.61, 7.48, 6.14, 6.00, 5.27, 5.16, 4.15, 4.02, 31.31, 3.09]
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['產業', '比例'])

df.to_csv('unitArea2022.csv', encoding='utf-8-sig')
tmp = pd.read_csv('unitArea2022.csv', index_col=0)
tmp

         產業     比例
0        能源  17.76
1        金融   9.61
2      健康醫療   7.48
3      公共事業   6.14
4      衛星電纜   6.00
5   媒體（非電纜）   5.27
6        科技   5.16
7      化學藥品   4.15
8        娛樂   4.02
9      其他產業  31.31
10  現金及約當現金   3.09

In [4]:
lst = ['能源', '金融', '健康醫療', '衛星電纜', '科技', '媒體（非電纜）', '公共事業', '包裝', '娛樂', '其他產業', '現金及約當現金']
lst2 = [15.79, 9.63, 8.35, 6.38, 6.24, 6.05, 5.32, 5.02, 4.41, 31.16, 1.65]
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['產業', '比例'])

df.to_csv('unitArea2021.csv', encoding='utf-8-sig')
tmp = pd.read_csv('unitArea2021.csv', index_col=0)
tmp

         產業     比例
0        能源  15.79
1        金融   9.63
2      健康醫療   8.35
3      衛星電纜   6.38
4        科技   6.24
5   媒體（非電纜）   6.05
6      公共事業   5.32
7        包裝   5.02
8        娛樂   4.41
9      其他產業  31.16
10  現金及約當現金   1.65

In [5]:
lst = ['能源', '健康醫療', '金融', '衛星電纜', '媒體（非電纜）', '包裝', '科技', '公共事業', '營建', '其他產業', '現金及約當現金']
lst2 = [15.90, 11.30, 10.14, 7.97, 7.20, 5.82, 5.34, 5.24, 4.70, 25.68, 0.72]
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['產業', '比例'])

df.to_csv('unitArea2020.csv', encoding='utf-8-sig')
tmp = pd.read_csv('unitArea2020.csv', index_col=0)
tmp

         產業     比例
0        能源  15.90
1      健康醫療  11.30
2        金融  10.14
3      衛星電纜   7.97
4   媒體（非電纜）   7.20
5        包裝   5.82
6        科技   5.34
7      公共事業   5.24
8        營建   4.70
9      其他產業  25.68
10  現金及約當現金   0.72

In [3]:
lst_2022 = ['能源', '金融', '健康醫療', '公共事業', '衛星電纜', '媒體（非電纜）', '科技', '化學藥品', '娛樂', '其他產業', '現金及約當現金']
lst_2021 = ['能源', '金融', '健康醫療', '衛星電纜', '科技', '媒體（非電纜）', '公共事業', '包裝', '娛樂', '其他產業', '現金及約當現金']
lst_2020 = ['能源', '健康醫療', '金融', '衛星電纜', '媒體（非電纜）', '包裝', '科技', '公共事業', '營建', '其他產業', '現金及約當現金']
lst_all = lst_2022 + lst_2021 + lst_2020
lst_all_unique = list(set(lst_all))
lst_all_unique

['媒體（非電纜）',
 '營建',
 '公共事業',
 '健康醫療',
 '衛星電纜',
 '科技',
 '化學藥品',
 '包裝',
 '其他產業',
 '金融',
 '娛樂',
 '能源',
 '現金及約當現金']

In [7]:
value_2022 = [5.27, None, 6.14, 7.48, 6.00, 5.16, 4.15, None, 31.31, 9.61, 4.02, 17.76, 3.09]
value_2021 = [6.05, None, 5.32, 8.35, 6.38, 6.24, None, 5.02, 31.16, 9.63, 4.41, 15.79, 1.65]
value_2020 = [7.02, 4.70, 5.24, 11.30, 7.97, 5.34, None, 5.82, 25.68, 10.14, None, 15.90, 0.72]
df = pd.DataFrame(list(zip(lst_all_unique, value_2022, value_2021, value_2020)),
               columns =['產業', '2022年', '2021年', '2020年'])
df.set_index("產業" , inplace=True)
df.index.name = None
df.to_csv('unitArea_all.csv', encoding='utf-8-sig')
tmp = pd.read_csv('unitArea_all.csv', index_col=0)
tmp

         2022年  2021年  2020年
媒體（非電纜）   5.27   6.05   7.02
營建         NaN    NaN   4.70
公共事業      6.14   5.32   5.24
健康醫療      7.48   8.35  11.30
衛星電纜      6.00   6.38   7.97
科技        5.16   6.24   5.34
化學藥品      4.15    NaN    NaN
包裝         NaN   5.02   5.82
其他產業     31.31  31.16  25.68
金融        9.61   9.63  10.14
娛樂        4.02   4.41    NaN
能源       17.76  15.79  15.90
現金及約當現金   3.09   1.65   0.72

In [ ]:
lst = ['三個月', '六個月', '一年', '二年', '三年', '五年', '十年', '年初至今']
lst2 = [4.19, 4.97, 3.02, 8.22, 4.75, 12.72, 37.47, 2.83]
lst3 = [-3.19, -3.98, -11.09, -3.94, -1.04, 5.50, 24.63, -11.71]
df = pd.DataFrame(list(zip(lst, lst2, lst3)),
               columns =['期間', '台幣別（台幣月配息）', '原幣別（美元月配息）'])

df.to_csv('C-ROI.csv', encoding='utf-8-sig')
tmp = pd.read_csv('C-ROI.csv', index_col=0)
tmp

In [4]:
lst = ['固定收益', '股票', '現金及約當現金']
lst2 = [96.90, 0.01, 3.09]
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['資產項目', '比例'])

df.to_csv('asset_allocation.csv', encoding='utf-8-sig')
tmp = pd.read_csv('asset_allocation.csv', index_col=0)
tmp

      資產項目     比例
0     固定收益  96.90
1       股票   0.01
2  現金及約當現金   3.09

In [3]:
lst = ['馬丁中游合作有限公司 (美國 能源) MRT MID PART/MRT MID FIN', 'CSC控股有限責任公司 (美國 衛星電纜) CSC HOLDINGS LLC', '西方石油 (美國 能源) OCCIDENTAL PETROLEUM COR', 'CCO控股有限責任公司/CCO控股 (美國 衛星電纜) CCO HLDGS LLC/CAP CORP', '卡爾派電業 (美國 公用事業) CALPINE CORP', '摩根大通銀行 (美國 銀行業) JPMORGAN CHASE & CO', '嘉年華集團 (美國 消費耐久財) CARNIVAL CORP', 'Clearway能源營運公司 (美國 公用事業) CLEARWAY ENERGY OP LLC', '切尼爾能源公司 (美國 能源) CHENIERE ENERGY PARTNERS', '阿勒泰思法國控股 (盧森堡 無線通訊) ALTICE FRANCE HOLDING SA']
lst2 = [1.79, 1.64, 1.57, 1.55, 1.47, 1.35, 1.31, 1.28, 1.28, 1.27]
lst3 = [[32.3933847, -94.85514361995487], [41.1702360057726, -74.31754478477202], [30.66278719748848, -95.56200543749686], [29.58395725645132, -98.5569951433713], [30.16894093685135, -95.36013165961367], [41.03778185323387, -73.93988975811995], [27.75591617334141, -81.2895125069648], [40.214400860967075, -74.75711896541344], [29.70362657840562, -95.36013165961363], [48.89654100562556, 2.3878885089156245]]
df = pd.DataFrame(list(zip(lst, lst2, lst3)), columns =['投資標的', '比例', '經緯度'])
df[['tmp1','tmp2']] = pd.DataFrame(df['經緯度'].tolist(), index= df.index)
# df
df.to_csv('investment.csv', encoding='utf-8-sig')
tmp = pd.read_csv('investment.csv', index_col=0)
tmp

,投資標的,比例,經緯度,tmp1,tmp2
0,馬丁中游合作有限公司 (美國 能源) MRT MID PART/MRT MID FIN,1.79,"[32.3933847, -94.85514361995487]",32.393385,-94.855144
1,CSC控股有限責任公司 (美國 衛星電纜) CSC HOLDINGS LLC,1.64,"[41.1702360057726, -74.31754478477202]",41.170236,-74.317545
2,西方石油 (美國 能源) OCCIDENTAL PETROLEUM COR,1.57,"[30.66278719748848, -95.56200543749686]",30.662787,-95.562005
3,CCO控股有限責任公司/CCO控股 (美國 衛星電纜) CCO HLDGS LLC/CAP ...,1.55,"[29.58395725645132, -98.5569951433713]",29.583957,-98.556995
4,卡爾派電業 (美國 公用事業) CALPINE CORP,1.47,"[30.16894093685135, -95.36013165961367]",30.168941,-95.360132
5,摩根大通銀行 (美國 銀行業) JPMORGAN CHASE & CO,1.35,"[41.03778185323387, -73.93988975811995]",41.037782,-73.939890
6,嘉年華集團 (美國 消費耐久財) CARNIVAL CORP,1.31,"[27.75591617334141, -81.2895125069648]",27.755916,-81.289513
7,Clearway能源營運公司 (美國 公用事業) CLEARWAY ENERGY OP LLC,1.28,"[40.214400860967075, -74.75711896541344]",40.214401,-74.757119
8,切尼爾能源公司 (美國 能源) CHENIERE ENERGY PARTNERS,1.28,"[29.70362657840562, -95.36013165961363]",29.703627,-95.360132
9,阿勒泰思法國控股 (盧森堡 無線通訊) ALTICE FRANCE HOLDING SA,1.27,"[48.89654100562556, 2.3878885089156245]",48.896541,2.387889

In [10]:
lst = [*range(2012,2022,1)]
lst2 = [14.25, 6.50, -1.32, -12.12, 17.70, 6.19, -4.32, 13.70, 6.08, 3.47]
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['年度', '報酬率（美元月配息）'])

df.to_csv('IRR.csv', encoding='utf-8-sig')
tmp = pd.read_csv('IRR.csv', index_col=0)
tmp

     年度  報酬率（美元月配息）
0  2012       14.25
1  2013        6.50
2  2014       -1.32
3  2015      -12.12
4  2016       17.70
5  2017        6.19
6  2018       -4.32
7  2019       13.70
8  2020        6.08
9  2021        3.47

In [11]:
lst = ['三個月', '六個月', '一年', '二年', '三年', '五年', '十年', '年初至今']
lst2 = [4.19, 4.97, 3.02, 8.22, 4.75, 12.72, 37.47, 2.83]
lst3 = [-3.19, -3.98, -11.09, -3.94, -1.04, 5.50, 24.63, -11.71]
df = pd.DataFrame(list(zip(lst, lst2, lst3)),
               columns =['期間', '台幣別（台幣月配息）', '原幣別（美元月配息）'])

df.to_csv('C-ROI.csv', encoding='utf-8-sig')
tmp = pd.read_csv('C-ROI.csv', index_col=0)
tmp

     期間  台幣別（台幣月配息）  原幣別（美元月配息）
0   三個月        4.19       -3.19
1   六個月        4.97       -3.98
2    一年        3.02      -11.09
3    二年        8.22       -3.94
4    三年        4.75       -1.04
5    五年       12.72        5.50
6    十年       37.47       24.63
7  年初至今        2.83      -11.71

In [15]:
lst = [202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108, 202109, 202110, 202111, 202112, 202201, 202202, 202203, 202204, 202205, 202206, 202207, 202208, 202209, 202210]
lst2 = [13.34, 13.29, 13.65, 13.74, 13.55, 13.45, 13.27, 13.27, 13.21, 13.31, 13.28, 13.14, 13.1, 12.88, 12.62, 12.79, 12.29, 12.4, 11.58, 11, 10.84, 9.94, 10.37, 10.4, 9.45, 9.65]
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['期間', '基金規模'])

df.to_csv('fund_size.csv', encoding='utf-8-sig')
tmp = pd.read_csv('fund_size.csv', index_col=0)
tmp

        期間   基金規模
0   202009  13.34
1   202010  13.29
2   202011  13.65
3   202012  13.74
4   202101  13.55
5   202102  13.45
6   202103  13.27
7   202104  13.27
8   202105  13.21
9   202106  13.31
10  202107  13.28
11  202108  13.14
12  202109  13.10
13  202110  12.88
14  202111  12.62
15  202112  12.79
16  202201  12.29
17  202202  12.40
18  202203  11.58
19  202204  11.00
20  202205  10.84
21  202206   9.94
22  202207  10.37
23  202208  10.40
24  202209   9.45
25  202210   9.65